:root {
    --my-light-green: rgb(45, 245, 180);
}

/* .shopping {
    background-color: white;
} */

.shopping .homeimg{
    position: relative;
}

.shopping > h2 {
    margin: 2.5rem;
    color: var(--my-green);
}

.shopping .homeimg img{
    width: auto;
    height: 450px;
    margin-top: 2.5rem;
}

.shopping .homeimg .titlehome{
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 0;
     left: 50%;
     transform: translate(-50%,-50%);
     text-transform:uppercase;
     color: orange;
     background-color: white;
     font-size: 25px;
     padding: 10px;
}

.shopping .sectionparint{
    margin: 3rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(450px,1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .25);
    background-color: white;
    padding: 20px;
    align-items: center;
}

.shopping .image img{
    width: 100%;
    display: block;
    height: 100%;
   
}

.shopping .productparagraphe {
    padding: 2rem 1rem;
    text-align: start;
}

.shopping .productparagraphe .souka{
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    color: tomato;
    text-transform: uppercase;
    margin: 1rem;
}

.shopping .productparagraphe p{
    line-height: 3  0px;
    text-transform: capitalize;
}

.shopping .walid{
    font-size: 20px;

}

.shopping .shoppingligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 2px;
    flex: 1;
    padding: 30px;
    margin: 3rem;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .25);
    min-height: 450px;
}

.shopping .printlivraison{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    flex: 1;
    padding: 30px;
    margin: 40px auto;
    box-shadow: 0 0 5px gray;
    justify-content: center;
}

.shopping .printlivraison button {
    width: 210px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: .25rem;
    background-color: rgb(225, 225, 225);
    transition: .5s all ease-in-out;
    border-radius: .5rem;
}

.shopping .childe-power {
    padding: .5rem;
    margin: 5px;
    width: 200px;
}

.shopping .childe-power b {
    padding: .5rem;
}

.shopping .printlivraison button:hover {
    transform: scale(.9) rotateX(5deg) rotateY(-20deg);
}

.childe-power svg {
    color: rgb(255, 120, 0);
    font-size: 2rem;
}

.shopping .childe-power .iconparind {
    display: block;
    font-weight: normal;
    margin: auto;
    width: fit-content;
}

.shopping .childe-power .walid {
    display: block;
    font-size: 40px;
    color: orange;
    margin: auto;
    width: fit-content;
}

.shopping .acordion {
    flex: 1;
    background-color: white !important;
    margin: 5rem;
}

.shopping .accordion-item {
    background-color: white !important;
}

.shopping .accordion-body {
    background-color: white !important;
    color: black !important;
    text-align: start;
    border: 1px solid black;
    margin: .5rem auto;
    width: 100%;
}

.shopping .accordion-button {
    background-color: white !important;
    color: black !important;
    border: 1px solid black;
    margin: .5rem auto;
}

.shopping .printlivraison button {
    border: none;
}

