.product-card-container {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.card-title {
    font-weight: 600;
    font-size: 16px;
}

.icon {
    transform: scale(1.65);
}

.product-card-container button {
    transition: 0.25s all ease-in-out;
}

.product-card-container button:hover {
    transform: scale(0.9);
}

.product-price {
    font-weight: 550;
}

.product-card-container .card-body {
    background-size: cover;
    position: relative;
}

.product-card-container .card-body img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
